// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

body {
  background-color: #989ea0;
}

.tag-line-text {
  font-family: "Chakra Petch", sans-serif;
}

.in-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-btn {
  text-align: center;
  border-radius: 0%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.main-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.main-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.main-btn:hover span {
  padding-right: 25px;
}

.main-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.glow-on-hover {
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 0px;
  z-index: 0;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #23b5d3, #071013, #ff0000);
  position: absolute;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  background-color: #23b5d3;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
